.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &.active {
    display: block;
  }
  &.error {
    .modal-content {
      .error-msg {
        display: flex;
      }
    }
  }
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    position: relative;
    background-color: $white;
    margin: auto;
    padding: 0;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    .close {
      color: $black;
      float: right;
      font-size: 28px;
      font-weight: bold;
      &:hover,
      &:focus {
        color: $black;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .modal-header {
      padding: 2px 16px;
    }

    .modal-body {
      padding: 2px 16px;
      .join-msg {
        font-size: 1.5rem;
        color: $pink;
      }
    }
    .error-msg {
      display: none;
      margin-top: 10px;
      color: $danger;
      float: left;
      justify-content: center;
      align-items: center;
      .cross {
        font-size: 3rem;
        margin-top: 5px;
      }
      .message {
        margin: 10px 0 0 5px;
        font-size: 1.5rem;
      }
    }

    .modal-footer {
      padding: 2px 16px;
    }
  }
}

.modal-login, .modal-signup, .modal-success {
  padding-top: 25vh;
  text-align: center;
  .modal-content {
    padding: 80px;
    &.closeModal {
      animation: closeModal .3s ease-out forwards;
    }
    .close {
      position: absolute;
      right: 15px;
      top: 0px;
      font-size: 4rem;
    }
    .modal-body {
      h1 {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      .form-content {
        input {
          width: 100%;
          height: 35px;
          padding: 6px 12px;
          font-size: 14px;
          color: $black;
          vertical-align: middle;
          background-color: $white;
          border: none;
          border-bottom: 1px solid #cccccc;
          margin: 10px 0;
        }
        label {
          font-size: 1.3rem;
          float: left;
          margin-top: 10px;
          margin-left: 20px;
        }
      }
      button {
        text-align: center;
        height: 37px;
        width: 60%;
        margin-top: 25px;
        border: none;
        outline: 0;
        border-radius: 100vh;
        color: $white;
        background: $black;
        font-size: 1.5rem;
      }
    }
  }
}

.modal-success {
  padding-top: 33vh;
  color: $pink;
  justify-content: center;
  align-items: center;
  img {
    height: 60px;
    margin-bottom: 10px;
  }
}