.experience-wrapper-container {
  .coordinate-container {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    color: $white;
  }
  .circle {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 40vh;
    left: calc(50% - 35px);
    border-radius: 50px;
    border: 1px solid $white;
    animation: circlePush 1s ease-out infinite;
  }
  .big-circle {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 40vh;
    left: calc(50% - 35px);
    border-radius: 50px;
    border: 1px solid $white;
    animation: bigCirclePush 1s ease-out infinite;
  }
  .generate-btn {
    z-index: 10;
    position: absolute;
    top: 40vh;
    left: calc(50% - 30px);
    border: none;
    background: transparent;
    height: 70px;
    animation: pushMe 1s ease-out infinite;
    cursor: pointer;
    img {
      height: 100%;
      width: auto;
    }
  }
  .instruct {
    position: absolute;
    top: 55vh;
    width: 100%;
    text-align: center;
  }
  .generate-transition {
    z-index: 9;
    position: absolute;
    height: 70px;
    width: 70px;
    top: 40vh;
    left: calc(50% - 35px);
    border-radius: 50px;
    animation: generateTransition 5s ease-out forwards;
    background-color: $pink;
    background-image: url("../images/cloud.png");
    background-size: cover;
    box-shadow: 0px 0px 10px 10px $pink;
  }
  .loading {
    z-index: 8;
    position: absolute;
    top: 10vh;
    left: calc(50% - 75px);
    font-size: $normal-size;
    color: $black;
    opacity: 0;
  }
  .generating {
    animation: generateLoader 2.5s ease-out;
  }
  .save-btn {
    position: absolute;
    opacity: 0;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    img {
      height: 100%;
      width: auto;
      cursor: pointer;
    }
    &:hover {
      opacity: 1 !important;
    }
  }
  .downloadSee {
    animation: downloadSee 1s ease-out infinite;
  }
  .downloaClick {
    animation: downloaClick 1s ease-out infinite;
  }
  .invert {
    filter: invert(100%);
  }
  //Logo loader
  .sk-folding-cube {
    margin: 25vh auto 0px auto;
    width: 150px;
    height: 150px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }

  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background-color: white;
    border: 5px solid transparent;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
  }
  .corp {
    position: absolute;
    top: 47vh;
    left: calc(50% - 45px);
    color: $white;
  }
}

@keyframes downloadClick {
  0% {opacity:1;transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}
@keyframes downloadSee {
  0% {opacity:1;bottom: 40px;}
  50% {bottom: 20px;}
  100% {bottom: 40px;}
}