//Logo
@keyframes dash {
  to {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

@keyframes apear {
  0% {opacity: 0;}
  25% {opacity: 0;}
  50% {opacity: 1;}
  75% {}
  100% {}
}

@keyframes zoom {
  0% {-webkit-transform:scale(1);}
  30% {-webkit-transform:scale(1.1);}
  100% {-webkit-transform:scale(1);}
}

//Sign up
@keyframes switchColor {
  0% {color:$pink;}
  50% {color:white;}
  100% {color:$pink;}
}
@keyframes switchBorderColor {
  0% {border-color: #ff95df;}
  50% {border-color:white;}
  100% {border-color: #ff9adb;}
}

//Modal
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes closeModal {
  0% {transform: scale(1);}
  20% {transform: scale(1.1);}
  80% {opacity: 1;}
  100% {
    opacity: 0;
    transform: scale(0.5);
    display: none;
  }
}

//Generate
@keyframes pushMe {
  0% {transform: scale(2);}
  50% {transform: scale(2.3);}
  100% {transform: scale(2);}
}
@keyframes circlePush {
  0% {transform: scale(1.4);}
  70% {transform: scale(2.5);}
  80% {transform: scale(2);opacity: 0;}
  100% {opacity: 0;}
}
@keyframes bigCirclePush {
  0% {transform: scale(1.4); opacity: 0.5;}
  80% {transform: scale(1.8);opacity: 0.8;}
  85% {opacity: 0.5;}
  90% {transform: scale(2); opacity: 0.5;}
  100% {transform: scale(2.2);opacity: 0;}
}

//Generate transition
@keyframes generateTransition {
  0% {transform: scale(1);z-index: 12};
20% {transform: scale(50); opacity: 1};
100% {opacity: 0; transform: scale(50);};
}

@keyframes generateLoader {
  0% {opacity: 1; z-index: 15;};
80% {opacity: 1};
100% {opacity: 0};
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}