/*
* Colors
*/

$black: #414042;
$white: #FFFFFF;
$pink: #FECBF1;
$purple: #5F13FF;
$wright: #5BFFA2;
$danger: #FF1F45;
$darkgrey: #10100f;


/*
* Size
*/

$litle-size: 1.5rem;
$normal-size: 2rem;
$big-size: 3.5rem;
$so-big-size: 5rem;
$ultra-size: 7rem;